
html{

}

body {
	height: 100%;
	background: url("../images/lib1.jpeg") no-repeat center center fixed ;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	 background-size:cover;

}

body, #logginWrapper, .form-control{
	font-size:12px!important;
}

#logginWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
  
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}

#welcome{
	text-align: center;
	background-color: none;
	
}

.jumbotron{
	background: transparent;
	color: white;
}